# Dependencies
node_modules
/node_modules
*.log
*.gz

# Environment variables
.env
.env.local

# Optional npm cache files
.npm
.eslintcache

# TypeScript cache
*.tsbuildinfo

# Build artifacts
build
dist
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Yarn
yarn-error.log
yarn.lock
